
// Colors

$bg-color: #081b29;
$main-color: #00abf0;
$text-color: #333;
$second-text-color: #555;
$white-color: #ffff;
$cover-color: linear-gradient(45deg , #00abf0 , #006e9a);
$pages-color: linear-gradient(90deg , #fff , #ddd);

//Border
$border: .125rem solid #00abf0;

//Box-Shadow
$box-shadow: 0 0  .6rem rgba(0 , 0 , 0 , .2);

//Fonts

$basic-font: 'Poppins' , sans-serif;

//Border-Radius

$basic-border-radius: .6rem;
$button-border-radius: .3rem;
$half-border-radius: 50%;
$full-border-radius: 100%;

// Padding
$page-paddings: 2rem;

//Font Sizes

$h1-font-size: 2.7rem;
$h3-font-size: 1.5rem;
$button-font-size: 1rem;


//Transition

$general-transition: 0.5s;