.book-page.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
}

.book-page .page-front,
.book-page .page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $pages-color;
  padding:  1.5rem 2rem;
}


.book-page .page-front {
  transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
  transform: rotateY(180deg) translateZ(1px);
}