body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: $page-paddings;
  perspective: 250rem;
  animation: show-animate 2s forwards;
}

@keyframes show-animate {
  0%,
  30% {
    opacity: 0;
    transform: rotate(-20deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.cover {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background: $cover-color;
  box-shadow: $box-shadow;
  border-top-left-radius: $basic-border-radius;
  border-bottom-left-radius: $basic-border-radius;
  transform-origin: right;
}

.cover {
  &-right {
    z-index: 100;
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-right.turn {
    transform: rotateY(180deg);
  }
  &-left {
    z-index: -1;
  }
}
